<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".VideoEditActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.VideoEdit" />

        <activity
            android:name=".VideoPreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.VideoEdit" />
    </application>
</manifest>
